/**
 * Contact stylesheet voor project Webtechnieken
 *
 * 1 Eo-ICT 2
 * @version 10/05/2015
 * @author Leander Clappaert <leander.clappaert@student.odisee.be>
 *
 */

/* --- ALGEMEEN --- */

h2 {
	color: #fcc035;
	text-transform: uppercase;
	font-size: 2.1rem;
	margin-bottom: 1.5rem;
}

h3 {
	text-transform: uppercase;
	color: #fcc035;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	margin-top: 3rem;
}

/* --- MAIN --- */

#exterieur, #interieur, #motor {
	background-color: rgba(0, 0, 0, 0.8); /*via opacity: 0.7; komt de tekst veel lichter uit */
	border: 0.1rem solid white;
	border-radius: 1rem;
	padding: 3rem;
	margin-bottom: 2rem;
	float: left;
	width: 100%;
}

/* --- EXTERIEUR en INTERIEUR --- */

p {
	float: left;
	width: 50%;
}

section img {
	float: left;
	width: 35%;
	margin-left: 15%;
	margin-bottom: 2rem;
}

#inleiding {
	width: 100%;
}

/* --- MOTOR --- */

#motor p {
	width: 100%;
}

/*#motor img {
	margin-left: 0%;
	margin-left: 3%;
}*/

#motor #naastFoto {
	width: 50%;
}