/**
 * Home stylesheet voor project Webtechnieken
 *
 * 1 Eo-ICT 2
 * @version 09/04/2015
 * @author Leander Clappaert <leander.clappaert@student.odisee.be>
 *
 */

/* =============================================
 * INDEX PAGE - MAIN
 =============================================== */

/* --- COLUMNS --- */
.column {
	width: 72%;
	float: left;
}

aside .column {
	width: 25%;
	float: right;
	margin-left: 2rem;
}


/* --- INTRODUCTIE --- */

#introductie {
	background-color: rgba(0, 0, 0, 0.8); /*via opacity: 0.7; komt de tekst veel lichter uit */
	padding: 3rem;
	border: 1px solid white;
	border-radius: 1rem;
	margin-bottom: 2rem;
}

#introductie .links {
	width: 30%;
	float: left;
	text-transform: uppercase;
	color: #fcc035;
}

#introductie .rechts {
	width: 70%;
	float: left;
}


/* --- AUTODEALS --- */

#auto {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 3rem 2.5rem 3rem 3rem;
	border: 1px solid white;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

#auto h2 {
	color: #fcc035;
	text-transform: uppercase;
}

.links {
	float: left;
	width: 13%;
}

.links h1 {
	font-size: 9rem;
	font-weight: bold;
	color: #fcc035;
}

.midden {
	float: left;
	width: 33%;
	padding-top: 3.5rem;
}

.midden p {
	line-height: 0.5rem;
}

.midden strong {
	color: #fcc035;
}

.rechts {
	float: left;
	width: 53%;	

}

.border {
	border-bottom: 1px solid #edebea;
	margin-bottom: 2rem;
}

.rechtsfoto img {
	width: 53%;
}

.naarCatalogus {
	float: right;
	margin-right: 0.5rem;
}

/* --- SIDE MENU --- */


/* algemeen */
aside h2 {
	color: #fcc035;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

aside p {
	line-height: 2rem;
	margin-bottom: 1.5rem;
}

aside #modellen, aside #vragen, aside #socialmedia {
	float: left;
}

/* modellen en vragen */

aside #modellen a, aside #vragen a {
	float: left;
	padding: 1.5rem 6rem 1.5rem 6rem;
	color: #000000;
	background-color: #fcc035;
	border: 1px solid;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

aside #vragen a {
	padding-left: 6.75rem;
	padding-right: 6.75rem;
}

aside #modellen, aside #vragen {
	border: 1px solid white;
	border-radius: 1rem;
	margin-bottom: 2rem;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.8);
}

/* socialmedia */

aside #socialmedia {
	border: 1px solid white;
	border-radius: 1rem;
	padding: 2rem 7rem 2rem 2rem;
	background-color: rgba(0, 0, 0, 0.8);
}

ul.socialmedia {
	width: 15rem;
}

aside .socialmedia a {
	position: absolute;
	text-indent: -9999px;
}

aside .socialmedia li {
	float: left;
	display: inline-block;
	width: 4.2rem;
	height: 4.2rem;
	margin-right: 0.5rem;
}

aside .socialmedia li .facebook, aside .socialmedia li .twitter, aside .socialmedia li .youtube {
	background-image: url(../img/socialiconsprite.png);
	background-repeat: no-repeat;
	background-size: 46.2rem; /* -> 1100% = 4.2 * 11 */
	width: 4.2rem;
	height: 4.2rem;
}

aside .socialmedia li .facebook {
	background-position: 0rem -4.2rem;
}

aside .socialmedia li .twitter {
	background-position: -33.6rem -4.2rem;
}

aside .socialmedia li .youtube {
	background-position: -42rem -4.2rem;
}

