/**
 * Stylesheet for GRAPHICAL menu item - Responsive
 *
 * @author  Leander Clappaert <leander.clappaert@student.odisee.be>
 * @version 02/01/2016
 */

.ct-chart, #chartLegendTitle {
	background-color: rgba(249, 249, 249, 0.9);
}

#chartLegendTitle {
	padding-left: 1rem;
	font-size: 1.5rem;
}

#chartLegend {
    position: relative;
    float: left;
    width: 100%;
    height: 0rem;
	background-color: rgba(249, 249, 249, 0.9);
}

/* undo few setting from saved routes settings */
#chartLegend li {
	border-bottom: none;
	margin-top: 0;
	width: 102%;
}

#chartLegend li span {
	width: 90%;
	padding-left: 1rem;
	cursor: auto;
	font-size: 1rem;
}

#chartLegend li span:hover {
	background-color: rgba(249, 249, 249, 0.9);
}

#graphSaveButton {
    float: right;
    cursor: pointer;
    width: 12rem;
    height: 3rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    background-color: #53bbe8;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-right: 1.2rem;
}

#charResult {
	float: left;
}

#charResult h2 {
	padding: 1rem;
	background-color: rgba(249, 249, 249, 0.9);
}

#charResult img {
	width: 57rem;
	height: 44rem;
	background-color: rgba(249, 249, 249, 0.9);
}

@media(min-width: 40em) {
	#chartLegend li span {
		font-size: 1.1rem;
	}
}

@media(min-width: 45em) {
	#chartLegendTitle {
		font-size: 1.7rem;
	}

	#chartLegend li {
		width: 105%;
	}

	#chartLegend li span {
		font-size: 1.2rem;
	}
}

@media(min-width: 60em) {
	#chartLegendTitle {
		font-size: 1.8rem;
	}

	#chartLegend li span {
		font-size: 1.3rem;
	}
}

@media(min-width: 75em) {
	#chartLegendTitle {
		font-size: 1.9rem;
	}
}
/* EOF */